<router-outlet></router-outlet>

<div class="outer-container">
  <div class="inner-container board">

    <div class="cells-container">
      <div *ngFor="let cell of (cells$ | async); let i = index">
        <div *ngIf="i % boardSize == 0" class="row">
          <div *ngFor="let cellInRow of arrayFromNumber(boardSize); let j = index;" class="cell-container">
            <div
              class="cell"
              *ngFor="let cellIndex of [i + j]"
              (click)="cellClick(cellIndex)"
              [ngClass]="(cells$ | async)[cellIndex]"
            ></div>
          </div>
        </div>
      </div>
    </div>

    <form class="start-game-form" [formGroup]="startGameForm" (ngSubmit)="startGameFormSubmit()">
      <label class="turn-time-input-label" for="turn-time-input">Длительность хода (мс):</label>
      <input id="turn-time-input" type="number" formControlName="turnTimeMs">
      <div class="turn-time-input-error"></div>
      <button class="start-button">Начать</button>
    </form>

    <div class="score">{{userScore$ | async}}:{{cpuScore$ | async}}</div>

  </div>
</div>
